.site-section {
    min-height: 70vh;
    padding-top: 3rem;

    &--bg-color {
        background-color: $color-bg-section;
    }

    &--bg-color-2 {
        background-color: $color-bg-article;
    }
}

